 <!-- Modal stars here-->
  <div class="modal fade" id="my-modal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Register / Login Roles</h4>
        </div>
        <div class="modal-body text-center">
          <p>
             <%= select_tag(:role_id, options_for_select([['Customer', 1], ['Manufacturer', 2], ['Participant', 3]])) %>

          </p>

       </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>
 <!-- Modal ends here-->



    <!-- section for scrolling messages-->
  <% if @messages.any? %>
    <% @messages.each do |msg|%>
        <% if msg.current_msg == true %>
        <marquee behavior="scroll" direction="left" scrollamount="5"> <p style="color:red;"><b>
        <%= msg.scroll_msg%>
        </b></p></marquee>
          <% break%>
        <% end %>
    <% end %>
  <% end %>



  <!-- scrolling section ends here -->



    <!-- carousel ends here-->



    <br>
  <!--
    <div style="box-shadow: 10px 10px grey;">
        <header class="jumbotron hero-spacer" id="intro">
            <h2 style="color:black;"><b>Welcome to Competition-driven customized products !</b></h2>
            <hr style="background-color: black; height: 2px;">
            <p>NthPointDesign ensures you own a t-shirt of your style and choice. We also help you discover your desiging skills with an amazing platform through online competitions. You are one step closer to the future of t-shirt services.</p>
        </header>
    </div>

   -->










      <!-- modifications here -->
           <!-- Page Content -->
    <div class="container">
        <!-- first row starts here-->
        <div class="row">

            <!-- column starting-1-->
            <div class="col-md-3">
                <p class="lead">Shop By Category</p>
                <div class="list-group">
                    <a href="#" class="list-group-item">T-Shirt(Boys)</a>
                    <a href="#" class="list-group-item">T-Shirt(Girls)</a>
                    <a href="#" class="list-group-item">Sweatshirts(Boys)</a>
                    <a href="#" class="list-group-item">Sweatshirts(Girls)</a>
                </div>
            </div>
            <!-- column ending-1-->

            <!-- column starting-2-->
            <div class="col-md-9">

                <div class="row carousel-holder">

                    <div class="col-md-12">
                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="item active">
                                    <%= image_tag("carousel_1.jpg", :size => "300x230")%>
                                </div>
                                <div class="item">
                                    <%= image_tag("products_info.jpg", :size => "460x345")%>
                                </div>
                                <div class="item">
                                    <%= image_tag("trending_info.jpg", :size => "460x345")%>
                                </div>
                                <div class="item">
                                    <%= image_tag("competitions_info.jpg", :size => "460x345")%>
                                </div>
                            </div>
                            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                            </a>
                            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </a>
                        </div>
                    </div>

                </div>
                </div>
                <!-- column ending-2-->
                </div>
                <!-- first row ends here-->



                <!-- second row starts here-->
                <div class="row">
                    <!-- second row column-1 starts -->
                    <div class="col-md-3">
                         <div class="hit-the-floor">
                        <ul>
                            <li>5% DISCOUNT on bulk orders (5 No.s and more)</li><br>
                            <li>5% DISCOUNT if you participate in atleast one competition </li>
                        </ul>
                    </div>
                    </div>
                    <!-- second row column-1 ending-->



                    <!-- second row column-2 starting-->
                    <div class="col-md-9">
                    <% (0..11).each do |i|%>
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <% image = "samp"+i.to_s+".png"%>
                            <%= image_tag(image, :size => "320x360") %>
                            <div class="caption">
                                <p><%= link_to "Front" %> | <%= link_to "Back" %></p>
                                <h6><%= link_to "Christmas Sweatshirts" %>
                                </h6>
                                <p>₹900/- |
                                <%= link_to "ORDER", customer_profiles_path %>
                                </p>
                            </div>
                        </div>
                      </div>
                     <% end %>
                </div>
                <!-- second row column-2 ending-->
                </div>
                <!-- row-2 ends here-->

        </div>
        <!-- container ends here-->

    <!-- /.container -->


      <!-- modifications end-->





</div>