 <!-- Modal stars here-->
  <div class="modal fade" id="my-modal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Register / Login Roles</h4>
        </div>
        <div class="modal-body text-center">
          <p>
             <%= select_tag(:role_id, options_for_select([['Customer', 1], ['Manufacturer', 2], ['Participant', 3]])) %>

          </p>

       </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>
 <!-- Modal ends here-->



    <!-- section for scrolling messages-->
  <% if @messages.any? %>
    <% @messages.each do |msg|%>
        <% if msg.current_msg == true %>
        <marquee behavior="scroll" direction="left" scrollamount="5"> <p style="color:red;"><b>
        <%= msg.scroll_msg%>
        </b></p></marquee>
          <% break%>
        <% end %>
    <% end %>
  <% end %>



  <!-- scrolling section ends here -->



    <!-- carousel ends here-->



    <br>
  <!--
    <div style="box-shadow: 10px 10px grey;">
        <header class="jumbotron hero-spacer" id="intro">
            <h2 style="color:black;"><b>Welcome to Competition-driven customized products !</b></h2>
            <hr style="background-color: black; height: 2px;">
            <p>NthPointDesign ensures you own a t-shirt of your style and choice. We also help you discover your desiging skills with an amazing platform through online competitions. You are one step closer to the future of t-shirt services.</p>
        </header>
    </div>

   -->










      <!-- modifications here -->
      <!-- carousel starts here-->
      <div class="container">
    <div class="row">
        <!-- Carousel -->
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <%= image_tag("slide1.png", :size => "300x230")%>
                </div>
                <div class="item">
                    <%= image_tag("slide2.png", :size => "300x230")%>
                </div>

            </div>
        </div><!-- /carousel -->
    </div>
      <!-- carousel ends here-->




                <!-- advantage section starts here-->

                <div id="advantages">

                <div class="container">
                    <div class="same-height-row">
                        <div class="col-sm-4">
                            <div class="box same-height clickable" style="height: 200px;background-color:  #dabee3; ">
                                <!-- <div class="icon"><i class="fa fa-tags"></i>
                                </div> -->

                                <h3><b>Best Prices</b></h3>
                                <p style="color: red;font-size: 15px;"><i><b>We offer 10 % Discount on order of minimum 6 T-shirts of same design</b></i></p>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="box same-height clickable" style="height: 200px;background-color:  #c8e8c4;">
                                <!-- <div class="icon"><i class="fa fa-thumbs-up"></i>
                                </div> -->

                                <h3><b>100% satisfaction Guaranteed</b></h3>
                                <p style="color: blue;font-size: 15px;"><i><b>We offer high quality t shirts of GSM-180 with best possible printing quality</b></i></p>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="box same-height clickable" style="height: 200px;background-color: #f1f1bf;">
                                <!-- <div class="icon"><i class="fa fa-thumbs-up"></i>
                                </div> -->

                                <h3><b>College Volunteer</b></h3>
                                <p style="color: green;font-size: 15px;"><i><b>Help us to server you better by sharing your precious memories with us at info@nthpointdesign.com</b></i></p>
                            </div>
                        </div>
                    </div>
                    <!-- /.row -->

                </div>
                <!-- /.container -->

            </div>

            <!-- advantage section starts here-->







            <!-- colleges section -->
            <div class="container" style="background-color:#EAECEB;">
            <br><br>
            <div class="row" >
            <div class="col-md-10 col-md-offset-1 text-center" style="background-color:white;box-shadow: 1px 1px grey;">
                    <h2 style="color: #269de7;"><b> Colleges</b></h2>

            </div>

            </div>
            <br><br>
            <div class="row">
                <div class="col-md-12">
                <div class="col-sm-2 col-lg-2 col-md-2" >
                    <figure class="imghvr-fold-right">

                     <%= image_tag("iit.jpg", class: "image-responsive", :size => "500x200")%>


    <figcaption>
        <div class="text-center">
            <h3>I.I.T Kharagpur</h3>
            <p>West Bengal</p>
        </div>

    </figcaption>
    <%= link_to "", faqs_path%>
</figure>
                </div>


                <div class="col-sm-2 col-lg-2 col-md-2">
                    <figure class="imghvr-fold-right">
    <%= image_tag("jntu.jpg", class: "image-responsive", :size => "500x200")%>
    <figcaption>
        <div class="text-center">
            <h3>Jntu Hyderabad</h3>
            <p>Telangana</p>
        </div>
    </figcaption>
    <%= link_to "", faqs_path%>
</figure>
                </div>




                <div class="col-sm-2 col-lg-2 col-md-2">
                    <figure class="imghvr-fold-right">
    <%= image_tag("osmaniya.jpg", class: "image-responsive", :size => "500x200")%>
    <figcaption>
        <div class="text-center">
            <h3>OU Hyderabad</h3>
            <p>Telangana</p>
        </div>
    </figcaption>
    <%= link_to "", faqs_path%>
</figure>
                </div>


                <div class="col-sm-2 col-lg-2 col-md-2">
                    <figure class="imghvr-fold-right">
    <%= image_tag("nitrr.jpg", class: "image-responsive", :size => "500x200")%>
    <figcaption>
        <div class="text-center">
            <h3>NIT Ranchi</h3>
            <p>Chattisgarh</p>
        </div>
    </figcaption>
    <%= link_to "", faqs_path%>
</figure>
                </div>


                <div class="col-sm-2 col-lg-2 col-md-2">
                    <figure class="imghvr-fold-right">
    <%= image_tag("mre.jpg", class: "image-responsive", :size => "500x200")%>
    <figcaption>
        <div class="text-center">
            <h3>Malla Reddy College, Hyd</h3>
            <p>Telangana</p>
        </div>
    </figcaption>
    <%= link_to "", faqs_path%>
</figure>
                </div>




                <div class="col-sm-2 col-lg-2 col-md-2">
                    <figure class="imghvr-fold-right">
    <%= image_tag("cmr.png", class: "image-responsive", :size => "500x200")%>
    <figcaption>
        <div class="text-center">
            <h3>CMR college, Hyderabad</h3>
            <p>Telangana</p>
        </div>
    </figcaption>
    <%= link_to "", faqs_path%>
</figure>
                </div>













</div>


            </div>
            <br><br>


            </div>


            <!-- college section ends here-->


            <!-- new arriaval section starts here-->
            <div class="container" style="background-color: #EAECEB;">
    <div class="row">
        <!-- Carousel -->
        <div class="container text-center">
        <div class="col-md-10 col-md-offset-1 text-center" style="background-color:white;box-shadow: 1px 1px grey;">
                    <h2 style="color:  #e74726;"><b>Featured products</b></h2>

            </div>

        </div> <br></div>
        <div class="row">
        <div id="carousel-new-arrival" class="carousel slide">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-new-arrival" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-new-arrival" data-slide-to="1"></li>
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                <div class="row">
                                  <div class="col-md-3">
                                      <%= image_tag("temposhout.jpg", :size => "300x350")%>
                                  </div>
                                  <div class="col-md-3">
                                     <%= image_tag("temposhout1.jpg", :size => "300x350")%>
                                  </div>
                                  <div class="col-md-3">
                                     <%= image_tag("temposhout2.jpg", :size => "300x350")%>
                                  </div>
                                  <div class="col-md-3">
                                     <%= image_tag("temposhout3.jpg", :size => "300x350")%>
                                  </div>
                                </div>


                </div>
                <div class="item">
                    <div class="row">
                                  <div class="col-md-3">
                                      <%= image_tag("kgp0.jpg", :size => "300x350")%>
                                  </div>
                                  <div class="col-md-3">
                                     <%= image_tag("kgp1.jpg", :size => "300x350")%>
                                  </div>
                                  <div class="col-md-3">
                                     <%= image_tag("kgp2.jpg", :size => "300x350")%>
                                  </div>
                                  <div class="col-md-3">
                                     <%= image_tag("kgp3.jpg", :size => "300x350")%>
                                  </div>
                </div>
            </div>
            <br><br>
            <br><br>


        </div><!-- /carousel -->
    </div>
</div>
</div>

            <!-- today ends-->

<br><br><br><br>

        </div>
        <!-- container ends here-->

    <!-- /.container -->


      <!-- modifications end-->





</div>