 <!-- Modal stars here-->
  <div class="modal fade" id="my-modal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Register / Login Roles</h4>
        </div>
        <div class="modal-body text-center">
          <p>
             <%= select_tag(:role_id, options_for_select([['Customer', 1], ['Manufacturer', 2], ['Participant', 3]])) %>

          </p>

       </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>
 <!-- Modal ends here-->



    <!-- section for scrolling messages-->
  <% if @messages.any? %>
    <% @messages.each do |msg|%>
        <% if msg.current_msg == true %>
        <marquee behavior="scroll" direction="left" scrollamount="5"> <p style="color:red;"><b>
        <%= msg.scroll_msg%>
        </b></p></marquee>
          <% break%>
        <% end %>
    <% end %>
  <% end %>



  <!-- scrolling section ends here -->



    <!-- carousel ends here-->



    <br>
  <!--
    <div style="box-shadow: 10px 10px grey;">
        <header class="jumbotron hero-spacer" id="intro">
            <h2 style="color:black;"><b>Welcome to Competition-driven customized products !</b></h2>
            <hr style="background-color: black; height: 2px;">
            <p>NthPointDesign ensures you own a t-shirt of your style and choice. We also help you discover your desiging skills with an amazing platform through online competitions. You are one step closer to the future of t-shirt services.</p>
        </header>
    </div>

   -->










      <!-- modifications here -->
      <!-- carousel starts here-->
      <div class="container">
    <div class="row">
        <!-- Carousel -->
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <%= image_tag("slide1.png", :size => "300x230")%>
                </div>
                <div class="item">
                    <%= image_tag("slide2.png", :size => "300x230")%>
                </div>

            </div>
        </div><!-- /carousel -->
    </div>
      <!-- carousel ends here-->












            <!-- colleges section -->
            <div class="container" style="background-color:#EAECEB;">
            <br><br>
            <div class="row" >
            <div class="col-md-10 col-md-offset-1 text-center" style="background-color:white;box-shadow: 1px 1px grey;">
                    <h2 style="color: #269de7;"><b> Colleges</b></h2>

            </div>

            </div>
            <br><br>
            <div class="row">
                <div class="col-md-12">
                <div class="col-sm-2 col-lg-2 col-md-2" >
                    <figure class="imghvr-fold-right">

                     <%= image_tag("iit.jpg", class: "image-responsive", :size => "500x200")%>


    <figcaption>
        <div class="text-center">
            <h3>I.I.T Kharagpur</h3>
            <p>West Bengal</p>
        </div>

    </figcaption>
    <%= link_to "", kgpians_path%>
</figure>
                </div>


                <div class="col-sm-2 col-lg-2 col-md-2">
                    <figure class="imghvr-fold-right">
    <%= image_tag("jntu.jpg", class: "image-responsive", :size => "500x200")%>
    <figcaption>
        <div class="text-center">
            <h3>Jntu Hyderabad</h3>
            <p>Telangana</p>
        </div>
    </figcaption>
    <%= link_to "", faqs_path%>
</figure>
                </div>




                <div class="col-sm-2 col-lg-2 col-md-2">
                    <figure class="imghvr-fold-right">
    <%= image_tag("osmaniya.jpg", class: "image-responsive", :size => "500x200")%>
    <figcaption>
        <div class="text-center">
            <h3>OU Hyderabad</h3>
            <p>Telangana</p>
        </div>
    </figcaption>
    <%= link_to "", faqs_path%>
</figure>
                </div>


                <div class="col-sm-2 col-lg-2 col-md-2">
                    <figure class="imghvr-fold-right">
    <%= image_tag("nitrr.jpg", class: "image-responsive", :size => "500x200")%>
    <figcaption>
        <div class="text-center">
            <h3>NIT Raipur</h3>
            <p>Chattisgarh</p>
        </div>
    </figcaption>
    <%= link_to "", faqs_path%>
</figure>
                </div>


                <div class="col-sm-2 col-lg-2 col-md-2">
                    <figure class="imghvr-fold-right">
    <%= image_tag("mre.jpg", class: "image-responsive", :size => "500x200")%>
    <figcaption>
        <div class="text-center">
            <h3>Malla Reddy College, Hyd</h3>
            <p>Telangana</p>
        </div>
    </figcaption>
    <%= link_to "", faqs_path%>
</figure>
                </div>




                <div class="col-sm-2 col-lg-2 col-md-2">
                    <figure class="imghvr-fold-right">
    <%= image_tag("cmr.png", class: "image-responsive", :size => "500x200")%>
    <figcaption>
        <div class="text-center">
            <h3>CMR college, Hyderabad</h3>
            <p>Telangana</p>
        </div>
    </figcaption>
    <%= link_to "", faqs_path%>
</figure>
                </div>













</div>


            </div>
            <br><br>


            </div>


            <!-- college section ends here-->


            <!-- new arriaval section starts here-->
            <div class="container" style="background-color: #EAECEB;">
    <div class="row">
        <!-- Carousel -->
        <div class="container text-center">
        <div class="col-md-10 col-md-offset-1 text-center" style="background-color:white;box-shadow: 1px 1px grey;">
                    <h2 style="color:  #e74726;"><b>Featured products</b></h2>

            </div>

        </div> <br></div>
        <div class="row">
        <div id="carousel-new-arrival" class="carousel slide">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-new-arrival" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-new-arrival" data-slide-to="1"></li>
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                <div class="row">
                                <% (0..3).each do |i|%>
                                  <div class="col-md-3">
                                      <div class = "suresh thumbnail">
                                      <% image = "temposhout" + i .to_s+ ".jpg"%>
                                      <%= image_tag(image, :size => "300x350")%>
                                      </div>
                                      <div class="caption">
                                       <% id = "NPD"+(i+1).to_s%>
                                        <p style="color: blue;"><%= id %></p><p style="font-size:20px;"><b>₹. 599/-</b> |  <%= link_to "ORDER", customer_profiles_path, class: "btn btn-success  btn-md"%></p>
                                    </div>
                                  </div>
                                  <% end %>


                                </div>


                </div>
                <div class="item">
                    <div class="row">
                              <% (0..3).each do |i|%>
                                  <div class="col-md-3">
                                      <div class="suresh thumbnail">
                                          <% image = "kgp" + i .to_s+ ".jpg"%>
                                        <%= image_tag(image, :size => "300x350")%>
                                      </div>

                                      <div class="caption">
                                         <% id = "NPD"+(i+5).to_s%>
                                        <p style="color:blue;"><%= id %></p><p style="font-size:20px;"><b>₹. 599/-</b> | <%= link_to "ORDER", customer_profiles_path, class: "btn btn-success  btn-md"%></p>
                                    </div>

                </div>
                <% end %>
            </div>
            </div>
            <br><br>


        </div><!-- /carousel -->
    </div>
</div>
</div>

            <!-- today ends-->

<br><br>

        </div>
        <!-- container ends here-->

    <!-- /.container -->


      <!-- modifications end-->





</div>


<!-- core values-->

<div class="row text-center" style="background-color:  #d6d7c2  ;">
      <h3>Our core values</h3>
    </div><br>
<div class="row margin-bottom-40">
                <div class="col-md-4 col-sm-6">
                    <div class="service-block service-block-sea service-or">
                        <div class="service-bg"></div>
                        <i class="icon-custom icon-color-light rounded-x icon-line glyphicon glyphicon-ok-sign"></i>
                        <h2 class="heading-md">Quality Products</h2>
                        <p>We offer only high quality t shirts of GSM-180 standard</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="service-block service-block-red service-or">
                        <div class="service-bg"></div>
                        <i class="icon-custom icon-color-light rounded-x glyphicon glyphicon-print"></i>
                        <h2 class="heading-md">Printing Quality</h2>
                        <p>We offer with you the best possible printing quality of t-shirts at affordable price</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="service-block service-block-blue service-or">
                        <div class="service-bg"></div>
                        <i class="icon-custom icon-color-light rounded-x icon-line glyphicon glyphicon-picture"></i>
                        <h2 class="heading-md">Attractive designs</h2>
                        <p>Our t-shirts are powered by situation driven designs, suit you better to the latest trend</p>
                    </div>
                </div>
            </div>
<!-- core values ends-->