    <!-- section for scrolling messages-->
  <% if @messages.any? %>
    <% @messages.each do |msg|%>
        <% if msg.current_msg == true %>
        <marquee behavior="scroll" direction="left" scrollamount="5"> <p style="color:red;"><b>
        <%= msg.scroll_msg%>
        </b></p></marquee>
          <% break%>
        <% end %>
    <% end %>
  <% end %>



  <!-- scrolling section ends here -->



    <!-- carousel ends here-->



    <br>
  <!--
    <div style="box-shadow: 10px 10px grey;">
        <header class="jumbotron hero-spacer" id="intro">
            <h2 style="color:black;"><b>Welcome to Competition-driven customized products !</b></h2>
            <hr style="background-color: black; height: 2px;">
            <p>NthPointDesign ensures you own a t-shirt of your style and choice. We also help you discover your desiging skills with an amazing platform through online competitions. You are one step closer to the future of t-shirt services.</p>
        </header>
    </div>

   -->










      <!-- modifications here -->
           <!-- Page Content -->
    <div class="container">

        <div class="row">

            <div class="col-md-3">
                <p class="lead">Shop By Category</p>
                <div class="list-group">
                    <a href="#" class="list-group-item">T-Shirt(Boys)</a>
                    <a href="#" class="list-group-item">T-Shirt(Girls)</a>
                    <a href="#" class="list-group-item">Sweatshirts(Boys)</a>
                    <a href="#" class="list-group-item">Sweatshirts(Girls)</a>
                </div>
            </div>

            <div class="col-md-9">

                <div class="row carousel-holder">

                    <div class="col-md-12">
                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="item active">
                                    <%= image_tag("carousel_1.jpg", :size => "300x230")%>
                                </div>
                                <div class="item">
                                    <%= image_tag("products_info.jpg", :size => "460x345")%>
                                </div>
                                <div class="item">
                                    <%= image_tag("trending_info.jpg", :size => "460x345")%>
                                </div>
                                <div class="item">
                                    <%= image_tag("competitions_info.jpg", :size => "460x345")%>
                                </div>
                            </div>
                            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                            </a>
                            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </a>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <% (0..20).each do |i|%>
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <%= image_tag("samp.png", :size => "320x360") %>
                            <div class="caption">
                                <h4 class="pull-right">Rs.900/-</h4>
                                <h5><a href="#">Christmas Sweatshirts</a>
                                </h4>
                            </div>
                        </div>
                      </div>
                     <% end %>
                </div>


                <hr>
                <div class="row">
                    <% (0..20).each do |i|%>
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <%= image_tag("samp.png", :size => "320x360") %>
                            <div class="caption">
                                <h4 class="pull-right">Rs.900/- </h4>
                                <h5><a href="#">Christmas Sweatshirts</a>
                                </h5>
                            </div>
                        </div>
                      </div>
                     <% end %>
                </div>








        </div>

    </div>
    <!-- /.container -->


      <!-- modifications end-->


















        <!-- Page Features -->
        <div class="row text-center">
        <% if @winners.any?%>
         <hr>
            <!-- Title -->
        <div class="row">
            <div class="col-lg-12">
                <h3>Best Designs</h3>
            </div>
        </div>
        <!-- /.row -->
            <% i=1 %>
            <% @winners.each do |winner| %>
                <div class="polaroid col-md-4  hero-feature">

                            <% if winner.position==i %>
                                <div class="thumbnaill">
                                    <%= image_tag(winner.artifact, :size => '260x180', :crop => :fill )%>
                                    <div class="caption">
                                        <h5>

                                               By <%= winner.winner_name%>
                                        </h5>
                                        <p><%= winner.college %></p>
                                    </div>
                                </div>
                                <% end %>
                </div>

                <% if i>5 %>
                    <% break %>
                <% end %>
                    <% i=i+1 %>
            <% end %>
        <% end %>
        </div>




















          <hr>

            <!--  sample test goes here-->
             <div class="container" >
        <!-- Title -->
        <div class="row" >
            <div class="col-lg-12">
                <h3><b>Best Offers</b></h3>
            </div>
        </div>
        </div><br>
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                        <div class="offer panel panel-success" style="box-shadow:10px 10px grey;display:none;">
                    <div class="panel-heading"><b>Group Offer</b></div>
                    <div class="panel-body">
                        <p><b>5%</b> DISCOUNT on bulk orders</p> <p>(5 no.s and more)</p>
                    </div>
                </div>

                </div>

                <div class="col-md-5 col-md-offset-1">
                         <div class="offer panel panel-success"style="box-shadow: 10px 10px grey;display:none;">
                    <div class="panel-heading"><b>Competition Offers</b></div>
                    <div class="panel-body">
                        <b>10</b> coins awarded for each succussful submission for each particular task
                    </div>
                </div>

                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-5">
                        <div class="offer panel panel-success"style="box-shadow: 10px 10px grey;display:none;">
                    <div class="panel-heading"><b>Competitor Offers</b></div>
                    <div class="panel-body">
                        <b>5%</b> DISCOUNT if you participate in atleast one competition and order through our portal
                    </div>
                </div>

                </div>

                <div class="col-md-5 col-md-offset-1">
                        <div class="offer panel panel-success"style="box-shadow: 10px 10px grey;display:none;">
                    <div class="panel-heading"><b>Reward Coins</b></div>
                    <div class="panel-body">
                        <p>With <b>500</b> Coins you can order a </p><p>T-shirt for free on our website  </p>
                    </div>
                </div>

                </div>
            </div>



        </div>
          <!-- sample test ends here-->






























</div>