<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading text-center"><h5><b>Welcome <%= current_competitor.username %> !!</b></h5></div>
  </div>
</div>



<div class="container-fluid">
	<div class="row">
		<div class="col-md-4 col-md-offset-2">
			<div class="panel panel-default">
			    <div class="panel-body text-center">
			    <%= link_to competition_instructions_path  do %>
				    <i class="fa fa-info-circle fa-4x" aria-hidden="true"></i>
				<% end%>
			    </div>
			    <div class="panel-footer text-center">Instructions for competition</div>
  			</div>
		</div>

		<div class="col-md-4">
			<div class="panel panel-default">
			    <div class="panel-body text-center">
			    <%= link_to competition_tasks_path do %>
				    <i class="fa fa-anchor fa-4x" aria-hidden="true"></i>
				<% end%>
			    
			    </div>
			    <div class="panel-footer text-center">Competition Task</div>
  			</div>
		</div>
	</div>	
</div>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-4 col-md-offset-2">
			<div class="panel panel-default">
			    <div class="panel-body text-center">
			    <%= link_to competitor_coins_path do %>
				    <i class="fa fa-gift fa-4x" aria-hidden="true"></i>
				<% end%>  
			    </div>
			    <div class="panel-footer text-center">Coins</div>
  			</div>
		</div>

			<div class="col-md-4">
			<div class="panel panel-default">
			    <div class="panel-body text-center">
				    <%= link_to destroy_competitor_session_path , method: :get, data: {confirm: "Are you sure you want to Sign Out?"} do %>
				    <i class="fa fa-sign-out fa-4x" aria-hidden="true"></i>
				    <% end%>
			    </div>
			    <div class="panel-footer text-center">LogOut</div>
  			</div>
		</div>
	</div>	
</div>


