<h2>Delivery Address Section </h2>
<p><%= link_to "Back to Dashboard", customer_profiles_path %> | <%= link_to "Back to List of orders", customer_orders_path %></p>
<hr style="width: 100%; color: black; height: 1px; background-color:black;">
		
<div class="container">
  <div class="panel panel-default panel-primary">
    <div class="panel-heading text-center">Delivery Address</div>
    <div class="panel-body">
       <% if @addresses.nil?%>
        <p>You not added any address !</p>
        <p><%= link_to "Add Delivery Address", new_customer_order_delivery_address_path(@order)%></p>
       <% elsif @addresses.customer_order_id == @order.id %>
            <p><%= @addresses.address %></p>   
            <p><%= link_to "Edit Delivery Address", edit_customer_order_delivery_address_path(@order,@addresses) %> </p>
            <p><%= link_to "Payment Details", customer_order_customer_payments_path(@order) %></p>
            <p><%= link_to "Order Status", customer_order_order_statuses_path(@order)%></p>
       <% end %>
    </div>
  </div>
</div>


<% (0..9).each do |i|%>
  <br>
<% end %>