<!-- our services and products-->
 <div class="container" style="background-color:white;">
            <div class="row text-center">
                <div class="col-md-8 col-md-offset-2 " style="border-radius: 25px;box-shadow: 10px 10px grey;background-color:#DCDCDC;">
                    <h2>What We Offer</h2>
                    <h2 style="font-size: 30px;line-height: 60px;margin-bottom: 20px;font-weight: 900;">Our Products and Services</h2>
                    <p>We follow Competition-driven customerization approach</p>
                </div>
            </div>
 </div>
 <br><br>
<div class="container">
 <div class="jumbotron">
  <div class="panel-group" id="accordion">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse"  data-parent="#accordion" href="#collapse1"><strong>Our Products</strong></a>
        </h4>
      </div>
      <div id="collapse1" class="panel-collapse collapse">
        <div class="panel-body" style="background-color:white">
        <h2>Our main products are:  </h2>
              <div class="row">
                <div class="col-md-2">
                    <%= image_tag("collar.png", :size => "120x150")%>
                </div>
                <div class="col-md-2">
                  <%= image_tag("roundneck.png", :size => "120x150")%>
                </div>
                <div class="col-md-2">
                  <%= image_tag("girl roundneck.png", :size => "120x150")%>
                </div>
                <div class="col-md-2">
                  <%= image_tag("girls collar.png", :size => "120x150")%>
                </div>
                <div class="col-md-2">
                  <%= image_tag("zip sweater boys.png", :size => "120x150")%>
                </div>
                <div class="col-md-2">
                  <%= image_tag("sweater.png", :size => "120x150")%>
                </div>
              </div>
              <br><br>
                <!-- size chart -->
                <div class="container info">
  <h2>T-Shirts size guide</h2>
  <p> Applicable for both boys and girls</p>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Size</th>
        <th>Length (inches)</th>
        <th>Length (cms)</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>S</td>
        <td>28'</td>
        <td>71</td>
      </tr>
      <tr>
        <td>M</td>
        <td>29'</td>
        <td>74</td>
      </tr>
      <tr>
        <td>L</td>
        <td>30'</td>
        <td>76</td>
      </tr>
      <tr>
        <td>XL</td>
        <td>31'</td>
        <td>79</td>
      </tr>
    </tbody>
  </table>
</div>


                <!-- size chart ends here -->


</div>
      </div>
    </div>
    <br>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse"  data-parent="#accordion" href="#collapse2"><strong>Bulk Orders</strong></a>
        </h4>
      </div>
      <div id="collapse2" class="panel-collapse collapse">
        <div class="panel-body" ><p>We accept bulk orders in general. <i><b>Minimum quantity to place an order in T-shirts category (both collar and round neck) is 6 (SIX) and in Sweatshirts 3 (THREE)</b></i>.</p> <p>You can place an order by logging into the <%= link_to "Order section", customer_profiles_path%>, You can pick a design which suite you best or upload already existing design or ask us to provide a design by giving your requirement description.</p></div>
      </div>
    </div>
    <!-- <br>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse"  data-parent="#accordion" href="#collapse3"><strong>Competitions</strong></a>
        </h4>
      </div>
      <div id="collapse3" class="panel-collapse collapse">
        <div class="panel-body" style="background-color:#A2C1D1">We launch competitions frequently in each month. If you are creative you can get attractive rewards by participating in competitions. We offer 10 coins for each successful submission for a particular task and additional coins for top 3 designs.

we are excited to inform you that If you score 500 points you can order a product from our website. 5% Discount if you buy any product from our website</div>
      </div>
    </div> -->
    <br>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse"  data-parent="#accordion" href="#collapse4"><strong>Trending Designs / Complete personalization</strong></a>
        </h4>
      </div>
      <div id="collapse4" class="panel-collapse collapse">
        <div class="panel-body"><p>We personalize the t-shirt designs for each college, After looking these designs all you will say is <q><i><b>This is what we where look for</b></i></q></p>
     <p>Please help us to make more personalization in your college t-shirt designs by participating in <%= link_to "College Ambassador program "%></p></div>
      </div>
    </div>
    <br>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse"  data-parent="#accordion" href="#collapse5"><strong>Manufacturing with Us</strong></a>
        </h4>
      </div>
      <div id="collapse5" class="panel-collapse collapse" href="collapse5">
        <div class="panel-body" ><p>You can collaborate your manufacturing business by registering with us at <%= link_to "manufacturer section", manufacturer_profiles_path %>. Since our business is competition-driven customerization you will have great business deal with us</p>
        <p>
          We have our manufacturer based on Kolkata, Kharagpur, Hyderabad.
        </p>
        </div>
      </div>
    </div>
  </div>
 </div>
<!-- products and services section ends here-->
</div>