<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading text-center">Instructions for competition</div>
    <div class="panel-body">
    	<p>
    		<ul>
    			<li>Competitions will be launched frequently in each and every month </li>
    			<li>Each competitor allowed to submit only one design (JPEG / PNG format only) for each task </li>
    			<li>Each successful submission awarded with 10 coins</li>
    			<li>We will award special coins to top 3 (three) designs from each competition, 50 more coins to first winner , 40 more coins to 2nd winner, and 30 more coins for 3rd winner </li>
    			<li>With 500 coins you can order a t-shirt with us for free </li>
    		</ul>
    	</p>
    	<hr>
    	<p>
    		<ul>
    			<li>Download suitable raw designs and work on it for competition </li>
    		</ul>
    		<br>
    		<div class="container">
    			<!--row-->
    			<div class="row">
    				<!-- column-1-->
	    			<div class="col-md-3 col-md-offset-1">
	    				 <div class="thumbnail">
	          				<%= image_tag("img_round.jpg", :width => 300, :height => 300) %>
	          				<div class="caption">
	            				<p class="text-center">Gents Round neck T-shirt</p>
	          				</div>
	      				</div>
	    			</div>


	    			<!-- column-2 -->
	    			<div class="col-md-3">
		    			<div class="thumbnail">
		      
		          			<%= image_tag("img_neck.jpg", :width => 300, :height => 300) %>
		          			<div class="caption">
		            			<p class="text-center">Gents Collar T-shirt </p>
		          			</div>
		      			</div>	    				
	    			</div>

	    			<!-- column-3 -->
	    			<div class="col-md-3">
		    			<div class="thumbnail">
		          			<%= image_tag("img_sweatshirt.jpg", :width => 300, :height => 300) %> 
		          			<div class="caption">
		            			<p class="text-center">Sweatshirt</p>
		          			</div>
		      			</div>		
		    		</div>
    			</div>
    			<br>

    			<!--row-2-->
    			<div class="row">
    				<!-- column-1-->
	    			<div class="col-md-3 col-md-offset-1">
	    				 <div class="thumbnail">
	          				<%= image_tag("img_girl.jpg", :width => 300, :height => 300) %>
	          				<div class="caption">
	            				<p class="text-center">Ladies Round neck T-shirt </p>
	          				</div>
	      				</div>
	    			</div>


	    			<!-- column-2 -->
	    			<div class="col-md-3">
		    			<div class="thumbnail">
		      
		          			<%= image_tag("img_girlneck.jpg", :width => 300, :height => 200) %>
		          			<div class="caption">
		            			<p class="text-center">Ladies collar T-shirt </p>
		          			</div>
		      			</div>	    				
	    			</div>

	    			
    		</div>
    	</p>
    	<br>
    	<p><%= link_to "Back to Dashboard",competitor_profiles_path %></p>

    </div>
  </div>
</div>