<!DOCTYPE html>
<html>
  <head>
    <title>NthPointDesign</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= stylesheet_link_tag    'manufacturers_profile' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'homepage', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'logo.ico' %>
  </head>

  <body>
 <nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
  <div class="navbar-header">
  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
    <%= link_to "NthPointDesign", root_path, class: "navbar-brand", style: "color:brown;font-weight:bold;" %>
  </div>


  <div class="collapse navbar-collapse" id="myNavbar">
  <ul class="nav navbar-nav">
  <li><%= link_to "Home",root_path %></li>
  <li><%= link_to "About Us", about_us_path %></li>
  <li><%= link_to "Products and Services", products_path %></li>
<!--    <li><%= link_to "Register / Login", "#my-modal", data: { toggle: "modal", target: "#my-modal" } %></li>
 -->
  <li><%= link_to "Register / Login", new_login_profile_path %></li>

 <!-- <li><%= link_to "Order", customer_profiles_path %></li>
  <li><%= link_to "Manufacture", manufacturer_profiles_path %></li>
  <li><%= link_to "Competitions", competitor_profiles_path %></li> -->
<!--   <li><%= link_to "Best Designs", best_designs_path %></li>
 -->
<!--   <li><%= link_to "Careers", careers_path %></li>
 -->  <li><%= link_to "Contact Us", contacts_path %></li>
  </ul>

    </div>
  </div>
  </nav>






<!-- navbar end-->

	   <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <% flash.each do |a,b| %>
             <div class="alert alert-success"><%= b %>
                   <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>

             </div>

            <% end %>

          </div><br>

          <%= yield %>
           </div>

      </div>


            <!-- *** FOOTER ***
 _________________________________________________________ -->
        <div id="footer" >
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <h4>Pages</h4>

                        <ul>
                            <li><%= link_to "About us", about_us_path %></a>
                            </li>
                            <li><a href="text.html">Terms and conditions</a>
                            </li>
                            <li><%= link_to "FAQ", faqs_path %>
                            </li>
                            <li><%= link_to "Contact us", contacts_path%>
                            </li>
                        </ul>

                        <hr>

                        <h4>User section</h4>

                        <ul>
                            <li><a href="#" data-toggle="modal" data-target="#login-modal">Login</a>
                            </li>
                            <li><a href="register.html">Register</a>
                            </li>
                        </ul>

                        <hr class="hidden-md hidden-lg hidden-sm">

                    </div>
                    <!-- /.col-md-3 -->

                    <div class="col-md-3 col-sm-6">

                        <h4>Top categories</h4>

                        <h5>Boys</h5>

                        <ul>
                            <li><%= link_to "T-shirts" %>
                            </li>
                            <li><%= link_to "SweatShirts"%>
                            </li>
                        </ul>

                        <h5>Ladies</h5>
                        <ul>
                            <li><%= link_to "T-shirts"%>
                            </li>
                            <li><%= link_to "SweatShirts"%>
                        </ul>
                        <hr class="hidden-md hidden-lg">

                    </div>
                    <!-- /.col-md-3 -->

                    <div class="col-md-3 col-sm-6">

                        <h4>Where to find us</h4>

                        <p><strong>NthPointDesign</strong>
                            <br>87/2, First Floor
                            <br>6th Cross
                            <br>2nd Main
                            <br>SG PALYA
                            <br>
                            <strong>Bengaluru-560029</strong>
                        </p>

                        <%= link_to "Go to contact page", contacts_path %>

                        <hr class="hidden-md hidden-lg">

                    </div>
                    <!-- /.col-md-3 -->



                    <div class="col-md-3 col-sm-6">

                        <h4>Get the news</h4>

                        <p class="text-muted">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>

                        <form>
                            <div class="input-group">

                                <input type="text" class="form-control">

                                <span class="input-group-btn">

                <button class="btn btn-default" type="button">Subscribe!</button>

            </span>

                            </div>
                            <!-- /input-group -->
                        </form>

                        <hr>

                        <h4>Stay in touch</h4>

                        <p class="social">
                        <%= link_to "https://www.facebook.com/nthpointdesign/", :target => "_blank"  do %>
                           <i class="fa fa-facebook" aria-hidden="true"></i>
                        <% end%>
                            <a href="#" class="twitter external" data-animate-hover="shake"><i class="fa fa-twitter"></i></a>
                            <a href="#" class="instagram external" data-animate-hover="shake"><i class="fa fa-instagram"></i></a>
                            <a href="#" class="gplus external" data-animate-hover="shake"><i class="fa fa-google-plus"></i></a>
                            <a href="#" class="email external" data-animate-hover="shake"><i class="fa fa-envelope"></i></a>
                        </p>


                    </div>
                    <!-- /.col-md-3 -->

                </div>
                <!-- /.row -->

            </div>
            <!-- /.container -->
        </div>
        <!-- /#footer -->

        <!-- *** FOOTER END *** -->
<div id="copyright">
            <div class="container">
                <div class="col-md-6">
                    <p class="pull-left">NthPointDesign©2016</p>

                </div>
                <div class="col-md-6">
                    <p class="pull-right">All rights Reserved
                    </p>
                </div>
            </div>
        </div>


  </body>
</html>
